<web-app>



<servlet>

<servlet-name>addQuestion</servlet-name>

<servlet-class>addQuestion</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>addQuestion</servlet-name>

<url-pattern>/servlet/addQuestion</url-pattern>

</servlet-mapping>




<servlet>

<servlet-name>Register</servlet-name>

<servlet-class>Register</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Register</servlet-name>

<url-pattern>/servlet/Register</url-pattern>

</servlet-mapping>











<welcome-file-list>

<welcome-file>index.html</welcome-file>

</welcome-file-list>
</web-app>
